.col-md-12
    if (page !== 'market')
        .alert.alert-primary.alert-dismissible.fade.show(role="alert")
            | <span class="text-center">Support the developer by donating to this address: <b>0x2548696795a3bCd6A8fAe7602fc26DD95A612574</b> <button onclick='copy_address_to_clipboard()' class="btn icon-button-display"><i class="fa fa-clone"  aria-hidden="true" alt="Copy"></i> </button>. Join us on <a href="https://discord.gg/jDhTKbhsM8" target="_blank">Discord</a>!
            button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close
    else
        .alert.alert-primary.alert-dismissible.fade.show(role="alert")
            | <span class="text-center">Welcome to <b>eD3ath's</b> Marketplace Listing!</span>
            button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close
